@{
    ViewBag.Title = "404 - Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5 col-md-6 offset-3 alert alert-danger text-center">
    <h1 class="display-4">Событие не найдено</h1>
    <p class="lead">Событие которое вы искали удалено или изменило название. Попробуйте написать по другому</p>
    <hr />
    <p>
        Вернуться на
        <a asp-controller="Movies" asp-action="Index">Главная страница</a>.
    </p>

</div>
