<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>У вас нет доступа к этой странице</h2>
        <p>Нажмите эту кнопку чтобы перейти на главную страницу</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Главная страница</a>
        </p>
    </div>
</div>